// Paramètres généraux
$color-primary: black;
$color-primary-light: #d3d3d3;
$color-primary-dark: #28b485;
$background-color: #011627;
$card-background-color: #fdfffc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Robot", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin: 0px 50px;
}

//Paramètres spécifiques
.main {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  gap: 0px;

  &--section {
    padding: 15px 30px;
    // border: solid 2px red;
  }
}

h1,
h2 {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  color: rgba($color: $color-primary, $alpha: 1);
}

.navigation {
  display: flex;
  flex-direction: row;
  //   border: solid 2px red;
  gap: 20px;

  &--onglet {
    font-size: 24px;
    margin: auto;
    min-width: 80px;
    list-style-type: none;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: underline;
    }
    &:visited {
      color: white;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px;

  &--logo {
    display: flex;
    &__img {
      margin: auto;
      height: 100%;
      border: solid 5px white;
      border-radius: 1000px;
    }
  }
}

.footer {
  display: flex;
  height: 30vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px;

  &--text {
    margin: auto;
  }
}

//Contact
#reseaux {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    margin: auto;
    text-align: center;
  }
}

.reseaux-et-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //   border: solid 2px red;

  section {
    width: 50%;
    // border: solid 2px red;
  }
}

.main {
  margin: 20px 0px;
  &--section {
    //   border: solid 2px blue;
    &--title {
      &__portfolio {
        margin-bottom: 20px;
      }
    }
    &__bottom h2 {
      text-align: center;
    }
  }
}

.reseaux-et-contact--reseaux__logos {
  display: flex;
  justify-content: space-between;
  //   border: solid 2px blue;
  a {
    width: 100%;
    display: flex;

    // border: solid 2px red;
  }
}

.reseaux-et-contact--reseaux__logo {
  margin: auto;
  width: 40%;
}

.reseaux--text,
.paragraphe {
  margin: 0px 20px 0px 0px;
  text-align: justify;
  text-indent: 20px;
  &__accueil {
    margin-top: 20px;
    // margin-left: 10vw;
    // margin-right: 10vw;
  }
}

//CARDS
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  //   border: solid 2px purple;
  box-sizing: border-box;
}

span {
  font-weight: bold;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  border: $color-primary-light solid 5px;
  background-color: $color-primary-light;
  border-radius: 20px;

  box-sizing: border-box;
  object-fit: contain;

  text-decoration: none;
  color: black;
  &--left-element {
    display: flex;
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: top left;
    border-radius: 20px 0px 0px 20px;
  }
  &--right-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
  }
  &--title {
    font-size: 24px;
  }
  &--description {
    text-align: justify;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-projet {
  width: 100%;
  margin: auto;
}
