// Paramètres généraux
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Robot", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin: 0px 50px;
}

//Paramètres spécifiques
.main {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  gap: 25px;

  &--section {
    padding: 30px;
    // border: solid 2px red;
  }
}

h1,
h2 {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 26px;
  color: rgba($color: $color-primary, $alpha: 1);
}

.navigation {
  display: flex;
  flex-direction: row;
  //   border: solid 2px red;
  gap: 20px;

  &--onglet {
    font-size: 24px;
    margin: auto;
    min-width: 80px;
    list-style-type: none;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px;

  &--logo {
    display: flex;
    &__img {
      margin: auto;
      height: 100%;
      border: solid 5px white;
      border-radius: 1000px;
    }
  }
}

.footer {
  display: flex;
  height: 30vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px;

  &--text {
    margin: auto;
  }
}

//Contact
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    margin: auto;
    text-align: center;
  }
}

.reseaux-et-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //   border: solid 2px red;

  section {
    width: 50%;
    // border: solid 2px red;
  }
}

.main--section {
  //   border: solid 2px blue;
  &--title {
    &__portfolio {
      margin-bottom: 20px;
    }
  }
  &__bottom h2 {
    text-align: center;
  }
}

.reseaux-et-contact--reseaux__logos {
  display: flex;
  justify-content: space-between;
  //   border: solid 2px blue;
  a {
    width: 100%;
    display: flex;

    // border: solid 2px red;
  }
}

.reseaux-et-contact--reseaux__logo {
  margin: auto;
  width: 40%;
}

.reseaux--text,
.paragraphe {
  margin: 20px 0px;
  text-align: justify;
  text-indent: 20px;
  &__accueil {
    margin-top: 20px;
    // margin-left: 10vw;
    // margin-right: 10vw;
  }
}

//CARDS
.cards {
  margin: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  &--card {
    border: solid 2px green;
    &__img {
      border: solid 2px purple;
    }
  }
  &__text {
    border: solid 2px purple;
  }
}
