* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Robot", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin: 0px 50px; }

.main {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  gap: 0px; }
  .main--section {
    padding: 15px 30px; }

h1,
h2 {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 26px;
  color: #55c57a; }

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px; }
  .navigation--onglet {
    font-size: 24px;
    margin: auto;
    min-width: 80px;
    list-style-type: none;
    text-decoration: none; }
    .navigation--onglet:hover {
      color: white;
      text-decoration: underline; }
    .navigation--onglet:visited {
      color: white; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px; }
  .header--logo {
    display: flex; }
    .header--logo__img {
      margin: auto;
      height: 100%;
      border: solid 5px white;
      border-radius: 1000px; }

.footer {
  display: flex;
  height: 30vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px; }
  .footer--text {
    margin: auto; }

#reseaux {
  margin-bottom: 20px; }

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .contact p {
    margin: auto;
    text-align: center; }

.reseaux-et-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .reseaux-et-contact section {
    width: 50%; }

.main {
  margin: 20px 0px; }
  .main--section--title__portfolio {
    margin-bottom: 20px; }
  .main--section__bottom h2 {
    text-align: center; }

.reseaux-et-contact--reseaux__logos {
  display: flex;
  justify-content: space-between; }
  .reseaux-et-contact--reseaux__logos a {
    width: 100%;
    display: flex; }

.reseaux-et-contact--reseaux__logo {
  margin: auto;
  width: 40%; }

.reseaux--text,
.paragraphe {
  margin: 0px 20px 0px 0px;
  text-align: justify;
  text-indent: 20px; }
  .reseaux--text__accueil,
  .paragraphe__accueil {
    margin-top: 20px; }

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-sizing: border-box; }

span {
  font-weight: bold; }

.card {
  width: 100%;
  height: auto;
  display: flex;
  border: #d3d3d3 solid 5px;
  background-color: #d3d3d3;
  border-radius: 20px;
  box-sizing: border-box;
  object-fit: contain;
  text-decoration: none;
  color: black; }
  .card--left-element {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: top left;
    border-radius: 20px 0px 0px 20px; }
  .card--right-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 0px 20px 20px 0px; }
  .card--title {
    font-size: 24px; }
  .card--description {
    text-align: justify; }

.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%; }
