@charset "UTF-8";
/************************
/ Media Queries - Mixin
************************/
/************************
/ Paramètres généraux
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  margin: auto;
  font-family: "Robot", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  min-width: 300px;
  max-width: 1440px; }

#root {
  margin: auto; }

span {
  font-weight: bold; }

h1,
h2 {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  color: black; }

.main {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  gap: 0px; }
  @media (max-width: 700px) {
    .main {
      margin: 0px 20px; } }
  .main--section {
    padding: 15px 30px; }
    @media (max-width: 700px) {
      .main--section {
        padding: 10px 15px; } }
    .main--section__bottom h2 {
      text-align: center; }

.paragraphe {
  margin: 0px;
  text-align: justify;
  text-indent: 20px; }
  @media (max-width: 1100px) {
    .paragraphe {
      margin: 0; } }
  .paragraphe__accueil {
    margin-top: 20px; }

a:visited {
  text-decoration: none; }

.hidden {
  display: none; }

/************************
/ Paramètres spécifiques
************************/
/*    Header    */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  margin: auto;
  color: white;
  background-image: url("/assets/banner03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 20px; }
  @media (max-width: 700px) {
    .header {
      justify-content: center; } }
  .header--img {
    height: 100%;
    border: solid 5px white;
    border-radius: 1000px; }

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px; }
  @media (max-width: 700px) {
    .navigation {
      display: none; } }
  .navigation--onglet {
    font-size: 24px;
    margin: auto;
    min-width: 80px;
    list-style-type: none;
    text-decoration: none;
    color: white; }
    .navigation--onglet:hover {
      color: white;
      text-decoration: underline; }
    .navigation--onglet:visited {
      color: white; }

/*    Accueil    */
.accueil--text {
  margin-top: 20px; }

/*    Portfolio    */
.portfolio--title {
  margin-bottom: 20px; }

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; }
  @media (max-width: 1100px) {
    .cards {
      grid-template-columns: repeat(1, 1fr); } }

.card {
  display: flex;
  width: 100%;
  color: black;
  text-decoration: none;
  background-color: #f4f4f5;
  border: #f4f4f5 solid 5px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.2s; }
  .card--left-element {
    display: flex;
    width: 50%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px; }
    @media (max-width: 700px) {
      .card--left-element {
        display: none; } }
  .card--right-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 0px 20px 20px 0px; }
    @media (max-width: 700px) {
      .card--right-element {
        width: 100%; } }
  .card--title {
    font-size: 24px; }
    @media (max-width: 700px) {
      .card--title {
        text-align: center; } }
  .card--description {
    text-align: justify; }
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .card:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); }
  .card__link, .card__link:visited {
    text-decoration: none;
    color: blue; }

/*    Réseaux et contact    */
.reseaux-et-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media (max-width: 700px) {
    .reseaux-et-contact {
      flex-direction: column; } }
  .reseaux-et-contact section {
    width: 50%; }
    @media (max-width: 700px) {
      .reseaux-et-contact section {
        width: 100%; } }
  .reseaux-et-contact--reseaux__logos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 40px; }
    @media (max-width: 700px) {
      .reseaux-et-contact--reseaux__logos {
        gap: 10px; } }
    @media (max-width: 1100px) {
      .reseaux-et-contact--reseaux__logos {
        gap: 20px; } }
    .reseaux-et-contact--reseaux__logos a {
      width: 100%;
      display: flex; }
      @media (max-width: 700px) {
        .reseaux-et-contact--reseaux__logos a {
          padding: 10px; } }
  .reseaux-et-contact--reseaux__logo {
    margin: auto;
    width: 100%; }
    @media (max-width: 700px) {
      .reseaux-et-contact--reseaux__logo {
        gap: 10px;
        padding: 5px;
        width: 100%; } }
    @media (max-width: 1100px) {
      .reseaux-et-contact--reseaux__logo {
        gap: 20px;
        padding: 5px;
        width: 100%; } }

#reseaux,
#contact {
  margin-bottom: 20px; }

.contact {
  display: flex;
  flex-direction: column; }
  .contact p {
    text-align: center; }
  .contact a {
    text-decoration: none;
    display: block;
    text-align: center; }
  .contact__details {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: first baseline;
    gap: 20px; }

.image-projet {
  width: 100%;
  margin: auto; }

/*    Footer    */
.footer {
  display: flex;
  height: 20vh;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px; }
  .footer--text {
    margin: auto; }
